.dialog-container {
  display: flex;
  border-radius: 10px;
  outline: 2px #fff solid;
  outline-offset: -2px;
  background-color: black;
  opacity: 0.9;
  color: #fff;
  border-radius: 5px;
}

.dialog-profile {
  width: 200px;
  margin-right: 80px;
}

.dialog-name {
  font-weight: 800;
  font-size: 25px;
}

.dialog-text {
  font-weight: 600;
  font-size: 20px;
}
